<h1>&nbsp;</h1>

<p>Email: first-initial-of-first-name last-name AT gmail DOT com</p>

<h2>About Me</h2>

<p>
  Hey there! I'm a programmer with an interest in language design
  (and semantics and type theory and system/framework design and ...)
  for creating secure systems.
  I'm currently looking for a(n industry/non-research) job, so send me an email if you're doing
  something interesting that I can jump in on!
</p>

<p>
  I used to be much more involved in the academic space, but for the time being
  I'm just working as an engineer at
  <a target="_blank" href="https://www.icsi.berkeley.edu/icsi/">ICSI</a> on the
  <a target="_blank" href="https://www.icsi.berkeley.edu/icsi/groups/extensible-internet">Extensible Internet</a> project.
  Previously, I did a stint as a postdoc at the Max Planck Institute for Security and
  Privacy working with <a target="_blank" href="https://gbarthe.github.io">Gilles Barthe</a>,
  and I got my PhD at UC San Diego working with
  <a target="_blank" href="https://cseweb.ucsd.edu/~dstefan/">Deian Stefan</a>.
  Oh, and I completed my undergraduate degrees in Computer Engineering and
  Mathematics at the University of Washington.
</p>

<p>
  I'm also a member of the core development team for
  <a target="_blank" href="https://github.com/hylang/hy">Hy, a Lisp-like language that compiles to Python bytecode</a>.
  It's a really fun (and very powerful) language, you should check it out!
</p>
