<h1>&nbsp;</h1>

<p>Email: first-initial-of-first-name last-name AT gmail DOT com</p>

<p>Max Planck Institute for Security and Privacy (MPI-SP)<br />
Universitätsstraße 140<br />
44799 Bochum, Germany<br /><br /></p>

<h2>About Me</h2>

<p>I am currently a postdoc at the Max Planck Institute for Security and
Privacy working with <a target="_blank" href="https://gbarthe.github.io">Gilles Barthe</a>, but
previously I was a PhD at UC San Diego working with <a target="_blank" href="https://cseweb.ucsd.edu/~dstefan/">Deian
Stefan</a>. My interests include
semantics, type theory, and language design for creating secure systems.</p>

<p>I completed my undergraduate degrees in Computer Engineering and
Mathematics at the University of Washington.</p>

<p>I'm also a member of the core development team for
<a target="_blank" href="https://github.com/hylang/hy">Hy, a Lisp-like language that compiles to Python bytecode</a>.
It's a really fun (and very powerful) language, you should check it out!
